#a{
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid red;
  background-image: linear-gradient(to right, #eaf368 , #cdcc11);
  font-weight: 700;
  font-size: 18px; 
  position: relative;
  top: 40%;
  z-index: 2;
  left: 38%;
}

#b{
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid red;
  background-image: linear-gradient(to right, #eaf368 , #cdcc11);
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: 35%;
  z-index: 2;
  left: 25%;
  
  
}